<h1 style="text-align: center;"><strong>Income Report</strong></h1>
<table style="height: 40px; margin-left: auto; margin-right: auto;" width="100%" border='1'>
	<tbody>
	<tr>
		<th>Amount</th>
		<th>Category</th>
		<th>Created at</th>
	</tr>

	<tbody>
		<% income_data.each do |income| %>
		  <tr>
		    <td style="text-align: center;"><%= income.amount %></td>
		    <td style="text-align: center;"><%= income.category.name %></td>
		    <td style="text-align: center;"><%= income.created_at.to_date %></td>
		  </tr>
		<% end %>
	</tbody>
</table>