<ul class="large_font">
	<li><a href="/incomes/">Income Details</li>
	<li><a href="/expenditures">Expenditure Details</a></li>
	<li><a href="/categories">Category Details</a></li>
	<li><%= link_to "Download Bank Statment", { :action => "bank_statment", :format => :csv }, target: '_blank'%></li>
</ul>
